.container{
    display: grid;
    justify-content: center;
    margin-top: 100px;
    color: white;
}
.buttonbox{
    padding-left: 50px;
}
button{
    padding: 8px 20px;
 
}
.input{
    border: 2px solid whitesmoke;
    height: 50px;
    width: 300px;
    margin: 8px;
    background-color: black;
    color: white;
}
::placeholder {
    color: white;
    opacity: 1; 
    padding-left: 12px;
    font-size: medium;
  }
  .error{
    color: red;
  }